{% extends 'base.html' %}
{% block styles %}
<style>
    h1{
        text-align: center;
    }
    .date-time{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
    }
    .date{
        width: 98%;
    }
</style>
{% endblock styles %}

{% block content %}
<h1>{{heading}}</h1>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form action="." class="form-control">
            {% csrf_token %}
            <label for="item"><h4>Item</h4></label>
            <input type="text" value="RON" class="form-control" name="item" id="">
            <label for="quantity"><h4>Quantity</h4></label>
            <input type="number" class="form-control" name="quantity" id="">
            <div class="date-time">
                <div class="date">
                    <label for="date"><h4>Date</h4></label>
                    <input type="date" value="{{date}}"    max="{{date}}" class="form-control date" name="date" id="">
                </div>
                <div class="time">
                    <label for="time"><h4>Time</h4></label><br>
                    <input type="time" value="{{time}}" class="form-control date" max="{{time}}"  name="time" id="">
                </div>
                
            </div>
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <!-- <button type="submit" class="btn btn-outline-danger">Clear</button> -->
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>
{% endblock %}